.boxes {
  display: flex;
  flex-direction: row;
  margin: auto;
  font: Roboto;
  line-height: 1.5;
  text-align: center!important;
}
.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
.box {
  width: 290px;
  border: 1px solid rgba(0,0,0,.125);
  margin: 20px;
  border-radius: .3rem;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}
.box > div > h3 {
  margin-bottom: 0!important;
  margin-top: 0!important;
  font-size: 1.5rem;
  line-height: 1.2;
}
.box-top {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.box-content {
  padding:20px;
}

button {
  cursor: pointer;
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: .3rem;
  border: 1px solid transparent;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

button:hover {
  background-color: #006fe6;
  border-color: #006fe6;
  transition: 200ms; 
}
.top {
  width:700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 
}
.top h1 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}
.top p {
  font-size: 1.25rem;
  font-weight: 300;
}
.boxes :first-child button {
  background-color: rgba(0,0,0,0);
  color: #006fe6;
}
.boxes :first-child button:hover {
  color: white;
  background-color: #007bff;
  transition: 200ms; 
}